/* 보러왕 움직이는 gif */
html {
    /* background: url('../img/삼각형.gif') no-repeat center center fixed;  */
    background-color: bisque;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logo {
    max-width: 7%;
    max-height: 7%;
    display: block;
    margin: auto;
    margin-top: 10%;
}

.p1 {
    margin-top: 2%;
    text-align: center;
    font-size: 150px;
    color: orange;
    font-family: 'Do Hyeon', sans-serif;
}

/* start 버튼 */
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

a.animated-button.thar-three {
	color:orange;
    display: block;
    position: relative;
    text-align: center;
    border: 4px solid orange;
    border-radius: 20px;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    width: 10%; 
    height: auto;
    padding: 10px;
    margin: 1px auto;
    margin-top: 2%;
    text-decoration:none;
    font-weight: bolder;
    font-size: 30px;
}
a.animated-button.thar-three:hover {
	color: white !important;
	background-color: transparent;
    text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
a.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: orange;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    border-radius: 10px;
}